extends layout

block content
 div(class="index__books my-16 px-4 shadow-xl mx-0")
  h1(class="text-blue-700 hover:shadow") Hello #{username}
  p Welcome to the Peculiar Library App
  p  Hope you Enjoy your stay
  if books
   for book in books
     div(class="bookCon bg-blue-100 text-blue-800 mx-auto my-10 p-auto hover:shadow-xl shadow")
      div(class="bookHeader mx-auto w-100")
       h1(class="bookTitle") 
       a(href=`/books/book/${book._id}`) #{book.name}
       div(class="author")
        span(class="authorName") by  
         a(href=`/books/authors/${book.author._id}`) #{book.author.name}
       div(class="publishingDate") on #{book.date}
       div(class="genre") Genre: 
       a(href=`/books/genres/${book.genre.id}`) #{book.genre.name}
       div(class="classification")
        if book.classification
         span Classifications-
         a(href=`/books/class/${book.classification._id}`)  book.classification
       div(class="bookSum hidden hover:block")
           p(class="hidden hover:block") summary #{book.summary}
       
         







